* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin btn {
    font-family: 'Raleway', sans-serif;
    max-width: 370px;
    width: 100%;
    padding: 26px;
    line-height: 28px;
    color: #FFF;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #FF4343;
    border-style: none;
    cursor: pointer;
    transition: all 0.5s linear;

    @media (max-width:1024px) {
        max-width: 313px;
    }

    @media (max-width:767px) {
        padding: 18px;
        max-width: 100%;
    }

    &:hover {
        background-color: #E71414;
    }

    &:active {
        box-shadow: 4px 4px 30px #FF4343;
        background-color: #FF4343;
    }
}

@mixin social-media-icon {
    border: 1px solid #C6CBCD;
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media (max-width:1024px) {
        width: 33px;
        height: 33px;
    }

    @media (max-width:767px) {
        width: 40px;
        height: 40px;
    }
}

.container {
    max-width: 1202px;
    padding: 0 16px;
    margin: 0 auto;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    &__container {
        display: flex;
        justify-content: space-between;
        position: relative;

        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 15px;
            top: 100%;
            width: calc(100% - 30px);
            border-bottom: 1px solid #BABBC5;
        }

        @media (max-width:767px) {
            border-bottom: none;
        }
    }

    &__logo {
        align-self: center;

        svg {
            @media (max-width: 767px) {
                width: 103px;
                height: 14px;
            }
        }
    }
}

.nav {
    @media (max-width:767px) {
        display: none;
    }

    &__items {
        display: flex;
    }

    &__item {
        min-width: 134px;
        padding: 36px 0;
        color: #FFF;
        text-transform: uppercase;
        list-style-type: none;
        text-align: center;
        border-bottom: 3px solid transparent;
        transition: all 0.3s linear;

        @media (max-width:1024px) {
            min-width: 112px;
            padding: 36px 0;
        }

        &:hover {
            border-bottom: 3px solid #BABBC5;
        }

        &:active {
            border-bottom: 3px solid #E71414;
            color: #E71414;
        }

    }

    &__menu {
        display: none;

        @media (max-width:767px) {
            display: block;
        }
    }

    &__link {
        font-size: 13px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        line-height: 15px;
        color: inherit;
        text-decoration: none;

        @media (max-width:1024px) {
            font-size: 12px;
        }
    }

    &.open {
        @media (max-width:767px) {
            position: fixed;
            display: block;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-image: url('../images/desk.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 84px 20px 20px;
            z-index: -1;


            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                background: rgba(37, 43, 73, 0.8);
                left: 0;
                top: 0;
                z-index: -1;
            }

            .nav__items {
                flex-direction: column;
            }

            .nav__item {
                text-align: left;
            }

        }
    }
}

.banner {
    background-image: url('../images/desk.png');
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 230px 0 120px;
    margin-bottom: 116px;

    @media (max-width:1024px) {
        padding: 257px 0 126px;
        margin-bottom: 78px;
    }

    @media (max-width:767px) {
        padding: 106px 0 52px;
        margin-bottom: 40px;
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(37, 43, 73, 0.8);
        left: 0;
        top: 0;
        z-index: -1;
    }

    &__info {
        margin-bottom: 80px;

        @media (max-width:1024px) {
            margin-bottom: 89px;
        }

        @media (max-width:767px) {
            margin-bottom: 49px;
        }
    }

    &__title {
        color: #FFF;
        font-size: 64px;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        line-height: 75px;
        text-transform: uppercase;
        margin-bottom: 31px;

        @media (max-width:1024px) {
            font-size: 48px;
            margin-bottom: 62px;
            line-height: 56px;
        }

        @media (max-width:767px) {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 33px;
        }
    }

    &__text {
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-family: 'Raleway', sans-serif;

        @media (max-width:1024px) {
            font-size: 18px;
            line-height: 21px;
        }

        @media (max-width:767px) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__button {
        @include btn();
    }
}

.advantages {
    text-align: center;
    margin-bottom: 116px;

    @media (max-width:1024px) {
        margin-bottom: 80px;
    }

    @media (max-width:767px) {
        margin-bottom: 35px;
    }


    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 88px;

        @media (max-width:1024px) {
            column-gap: 20px;
            row-gap: 49px;
        }

        @media (max-width:767px) {
            display: block;
        }
    }

    &__item {

        @media (max-width:767px) {
            width: 100%;
            margin: 0 auto 42px;

            &:last-child {
                margin-bottom: 0;
            }
        }

    }

    &__icon {
        width: 100px;
        height: 100px;
        margin: auto;
        margin-bottom: 51px;

        @media (max-width:1024px) {
            margin-bottom: 44px;
        }

        @media (max-width:1024px) {
            margin-bottom: 37px;
        }


        & svg {
            @media (max-width:1024px) {
                width: 85px;
                height: 85px;
            }

            @media (max-width:767px) {
                width: 75px;
                height: 75px;
                margin-bottom: 21px;
            }

        }

    }

    &__title {
        color: #2D3033;
        text-align: center;
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 28px;
        margin-bottom: 20px;

        @media (max-width:1024px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 4px;
        }

    }

    &__text {
        color: #6C7279;
        text-align: center;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        line-height: 21px;

        @media (max-width:1024px) {
            font-size: 14px;
            line-height: 16px;
        }
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 114px;

    @media (max-width:1024px) {
        margin-bottom: 78px;
    }

    @media (max-width:767px) {
        margin-bottom: 35px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

.project {
    display: flex;
    position: relative;
    border: 1px solid #fff;
    aspect-ratio: 1 / 0.9;

    &__info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 67, 67, 0.8);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 32px;
        opacity: 0;
        text-decoration: none;
        transition: all 0.4s linear;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }

        &:active {
            background: rgba(185, 12, 12, 0.80);
        }
    }

    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__name {
        color: #FFF;
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        line-height: 28px;
        text-transform: uppercase;

        @media (max-width:1024px) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__description {
        color: #FFF;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        line-height: 21px;
    }
}

.experts {
    margin-bottom: 114px;

    @media (max-width:1024px) {
        margin-bottom: 78px;
    }

    @media (max-width:767px) {
        margin-bottom: 34px;
    }

    &__container {
        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(4, 1fr);

        @media (max-width:1024px) {
            column-gap: 25px;
        }

        @media (max-width:767px) {
            display: block;
            padding: 0 20px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;

        @media (max-width:767px) {
            margin-bottom: 49px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__wrapper-photo {
        display: flex;
        margin-bottom: 30px;
        aspect-ratio: 1;

        @media (max-width:1024px) {
            margin-bottom: 25px;
        }

    }

    &__photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__name {
        color: #2D3033;
        font-size: 24px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 5px;

        @media (max-width:1024px) {
            line-height: 21px;
            font-size: 18px;
        }
    }

    &__speciality {
        color: #FF4343;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 18px;

        @media (max-width:1024px) {
            line-height: 16px;
            font-size: 14px;
            margin-bottom: 22px;
        }

        @media (max-width:767px) {
            margin-bottom: 38px;
        }
    }

    &__text {
        color: #6C7279;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 38px;

        @media (max-width:1024px) {
            line-height: 16px;
            font-size: 14px;
            margin-bottom: 39px;
        }

        @media (max-width:767px) {
            margin-bottom: 55px;
        }

    }

    &__contacts {
        display: flex;
        column-gap: 5px;
        margin-top: auto;

        @media (max-width:767px) {
            position: inherit;
            transform: none;
        }
    }

    &__social-media {
        @include social-media-icon();

        &:hover {
            border-color: #353C65;
            transform: scale(1.1);
            transition: all 0.5s;

            path {
                fill: #353C65;
            }

            &:active {
                border-color: #2C3154;
                ;

                path {
                    fill: #2C3154;
                    ;
                }
            }
        }
    }
}

.download {
    margin-bottom: 114px;
    text-align: center;

    @media (max-width:1024px) {
        margin-bottom: 78px;
    }

    @media (max-width:767px) {
        margin-bottom: 45px;
    }

    &__title {
        color: #000;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        line-height: 35px;
        margin-bottom: 25px;

        @media (max-width:1024px) {
            line-height: 28px;
            margin-bottom: 21px;
            font-size: 24px;
        }

        @media (max-width:767px) {
            line-height: 21px;
            margin-bottom: 33px;
            font-size: 18px;
        }
    }

    &__info {
        color: #000;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 48px;

        @media (max-width:1024px) {
            line-height: 16px;
            margin-bottom: 43px;
            font-size: 14px;
        }

        @media (max-width:767px) {
            line-height: 15px;
            margin-bottom: 11px;
            font-size: 13px;
        }
    }

    &__button {
        @include btn();

        @media (max-width:1024px) {
            font-size: 18px;
            line-height: 20px;
            padding: 30px;
        }
    }

    &__text {
        margin: 0 auto;
        max-width: 370px;
    }

    &__text_darkened {
        color: #808080;
    }
}

.footer {
    padding-top: 71px;
    background-color: #353C65;
    text-align: center;

    @media (max-width:1024px) {
        padding-top: 47px;
    }

    @media (max-width:767px) {
        padding-top: 34px;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 130px;
        margin-bottom: 67px;

        @media (max-width:1024px) {
            column-gap: 105px;
            margin-bottom: 41px;
        }

        @media (max-width:767px) {
            display: block;
            margin-bottom: 33px;
            padding: 0 20px;
        }
    }

    &__item {
        @media (max-width:767px) {
            margin-bottom: 59px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        color: #FFF;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        line-height: 21px;
        text-transform: uppercase;
        margin-bottom: 29px;

        @media (max-width:1024px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 16px;
        }

        @media (max-width:767px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 36px;
        }
    }

    &__text {
        color: #FFF;
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        line-height: 21px;
        margin: 0 auto;

        @media (max-width:1024px) {
            font-size: 14px;
            line-height: 16px;
        }

        @media (max-width:767px) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__contacts {
        display: flex;
        column-gap: 27px;
        justify-content: center;
        margin-top: 49px;

        @media (max-width:1024px) {
            column-gap: 23px;
            margin-top: 33px;
        }

        @media (max-width:767px) {
            column-gap: 16px;
            margin-top: 37px;
        }
    }

    &__social-media {
        @include social-media-icon();

        &:hover {
            border-color: #FF4343;
            transform: scale(1.1);
            transition: all 0.5s;

            path {
                fill: #FF4343;
            }

            &:active {
                border-color: #E71414;

                path {
                    fill: #E71414;
                }
            }

        }
    }

    &__copyright {
        padding: 24px 16px;
        background-color: #2C3154;

        @media (max-width:1024px) {
            padding: 14px 16px;
        }

        @media (max-width:767px) {
            padding: 28px 20px;
        }
    }

    &__text {
        max-width: 370px;

        @media (max-width:1024px) {
            max-width: 314px;
        }

        @media (max-width:767px) {
            max-width: 100%;
        }
    }

    &__text_darkened {
        color: #808080;
    }
}